In [24]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [25]:
oscars = pd.read_csv('final_dataset.csv')
oscars.index = oscars['Movie']
del oscars['Movie']

In [49]:
oscars['intercept'] = 1
oscars.head()

,Post-Nom Gross,Post-Nom Theatres,Pre-Nom Gross,Pre-Nom Theatres,Release,Year,url,Actor,Actress,Adapted Screenplay,...,Supporting Actress,Visual Effects,Nomination count,Win,BAFTA,DGA,PGA,GGC,GGD,intercept
Movie,,,,,,,,,,,,,,,,,,,,,
E.T.: The Extra-Terrestrial,0.613607,1.144272,3.322427,1.780136,1982-06-11,1982,/movies/?id=et.htm,0.0,0.0,0.0,...,0.0,1.0,9,0,0,0,0,0,0,1
Tootsie,2.485495,1.635439,1.016385,1.223468,1982-12-17,1982,/movies/?id=tootsie.htm,1.0,0.0,0.0,...,1.0,0.0,9,0,0,0,0,1,0,1
The Verdict,0.589478,1.142934,0.400339,0.905086,1982-12-10,1982,/movies/?id=verdict.htm,1.0,0.0,1.0,...,0.0,0.0,5,0,0,0,0,0,0,1
Gandhi,1.311419,1.077355,0.119639,0.357429,1982-12-10,1982,/movies/?id=gandhi.htm,1.0,0.0,0.0,...,0.0,0.0,11,1,1,1,0,0,0,1
Missing,0.000000,0.000000,0.141209,0.733881,1982-02-12,1982,/movies/?id=missing.htm,1.0,1.0,1.0,...,0.0,0.0,4,0,0,0,0,0,0,1

In [50]:
response = 'Win'
predictors = [
        'intercept',
        'Pre-Nom Theatres', 
        'Post-Nom Theatres',
        'Pre-Nom Gross', 
        'Post-Nom Gross',
        'Director', 
        'Actor', 
        'Actress',
        'Supporting Actor',
        'Supporting Actress', 
        'Nomination count',
        'BAFTA',
        'DGA',
        'PGA',
        'GGC',
        'GGD'
       ]

In [120]:
# Set 2016 as test_set
test_year = 2014

# Set 2016 nominees as test_set
train_ix = oscars['Year'] != test_year
test_ix = oscars['Year'] == test_year

y_train = oscars[train_ix][response]
X_train = oscars[train_ix][predictors]

y_test = oscars[test_ix][response]
X_test = oscars[test_ix][predictors]

In [121]:
results = sm.Logit(y_train, X_train).fit()
results.summary()

Optimization terminated successfully.
         Current function value: 0.201382
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                    Win   No. Observations:                  199
Model:                          Logit   Df Residuals:                      183
Method:                           MLE   Df Model:                           15
Date:                Sun, 05 Mar 2017   Pseudo R-squ.:                  0.5517
Time:                        21:48:46   Log-Likelihood:                -40.075
converged:                       True   LL-Null:                       -89.393
                                        LLR p-value:                 2.365e-14
======================================================================================
                         coef    std err          z      P>|z|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------------
intercept             -6.4771      1.673     -3.872      0.000        -9.755    -3.199
Pre-Nom Theatres       0.2802      1.056      0.265      0.791        -1.789     2.349
Post-Nom Theatres      0.0597      0.901      0.066      0.947        -1.706     1.825
Pre-Nom Gross         -0.7710      0.732     -1.053      0.292        -2.206     0.664
Post-Nom Gross        -0.3965      0.652     -0.608      0.543        -1.675     0.882
Director               1.6071      1.116      1.440      0.150        -0.580     3.794
Actor                 -0.4435      0.633     -0.700      0.484        -1.685     0.798
Actress                0.5288      0.736      0.719      0.472        -0.913     1.970
Supporting Actor       1.3932      0.609      2.288      0.022         0.200     2.587
Supporting Actress    -0.6166      0.625     -0.987      0.324        -1.841     0.608
Nomination count       0.2615      0.163      1.608      0.108        -0.057     0.580
BAFTA                  0.1909      0.847      0.225      0.822        -1.470     1.852
DGA                    3.6681      0.883      4.156      0.000         1.938     5.398
PGA                    1.0449      0.830      1.259      0.208        -0.582     2.672
GGC                    0.6582      1.037      0.635      0.526        -1.374     2.690
GGD                    0.7123      0.755      0.943      0.346        -0.768     2.193
======================================================================================
"""

In [122]:
predicted_probs = results.predict(X_test)
predicted_winner = (predicted_probs == predicted_probs.max()).astype(int)

predicted_winner

array([0, 0, 0, 0, 1, 0, 0, 0])

In [123]:
def predicted_correctly(real, predicted):
    return min(real == predicted)

predicted_correctly(y_test, predicted_winner)

True

In [124]:
pd.DataFrame({"Oscar Winner": y_test, "Predicted Winner": predicted_winner})

                          Oscar Winner  Predicted Winner
Movie
American Sniper                      0                 0
The Imitation Game                   0                 0
The Grand Budapest Hotel             0                 0
Selma                                0                 0
Birdman                              1                 1
The Theory of Everything             0                 0
Boyhood                              0                 0
Whiplash                             0                 0

In [48]:
# Predictions on Test Set
x1 = results.predict(oscars[oscars['Win'] == 1][predictors])
x2 = np.round(x1) == oscars['Win'][oscars['Win'] == 1]
sum(x2)/len(x2)

0.73529411764705888

In [44]:
oscars_train['Win'][oscars_train['Win'] == 1]

Movie
Gandhi                                           1
Terms of Endearment                              1
Amadeus                                          1
Out of Africa                                    1
Platoon                                          1
The Last Emperor                                 1
Rain Man                                         1
Driving Miss Daisy                               1
Dances with Wolves                               1
The Silence of the Lambs                         1
Unforgiven                                       1
Schindler's List                                 1
Forrest Gump                                     1
Braveheart                                       1
The English Patient                              1
Titanic                                          1
Shakespeare in Love                              1
American Beauty                                  1
Gladiator                                        1
A Beautiful Mind                                 1
Chicago                                          1
The Lord of the Rings: The Return of the King    1
Million Dollar Baby                              1
Crash                                            1
The Departed                                     1
No Country for Old Men                           1
Slumdog Millionaire                              1
The Hurt Locker                                  1
The King's Speech                                1
The Artist                                       1
Argo                                             1
12 Years a Slave                                 1
Birdman                                          1
Spotlight                                        1
Name: Win, dtype: int64

In [33]:
from sklearn import linear_model
reg = linear_model.LogisticRegression()
reg.fit(X_train, y_train)

# Get predicted probs for test set
probs = reg.predict_proba(X_test)[:,1]
probs

array([ 0.01023663,  0.88558165,  0.04569751,  0.03391558,  0.01461524,
        0.05827125,  0.0742878 ,  0.08899886,  0.1825111 ])

In [15]:
# Normalize probs
probs_normalized = probs / probs.sum()
x = pd.DataFrame([X_test.index, probs_normalized.round(2)]).transpose()
x.columns = ['Movie', 'Probability of Winning']
x

                   Movie Probability of Winning
0         Hidden Figures                   0.04
1             La La Land                   0.62
2                Arrival                   0.04
3          Hacksaw Ridge                   0.04
4                 Fences                   0.04
5  Manchester by the Sea                   0.04
6                   Lion                   0.04
7     Hell or High Water                   0.04
8       Moonlight (2016)                   0.07

In [16]:
reg.predict(X_test)

array([0, 1, 0, 0, 0, 0, 0, 0, 0])

In [21]:
sum(oscars['Win'] == oscars['GGC']) / len(oscars)

0.77294685990338163